<footer class="footer__contact">
    <div>
        <p class="copy">Powerkyria &copy 2020</p>
    </div>

    <ul class="footer__ul footer__contact--ul">
        <li><a class="footer__ul--a" href="index.html#team">Equipo</a></li>
        <li><a class="footer__ul--a" href="index.html#who_are_we">Quiénes somos</a></li>
        <li><a class="footer__ul--a" href="./contact.html" target="blank">Contacto</a></li>
    </ul>

    <img class="footer__logo" src="./assets/images/logo11.png" alt="">

</footer>