<script type="text/javascript">

    function sendEmail() {

        const email = document.getElementById('email').value;
        const name = document.getElementById('name').value;
        const message = document.getElementById('message').value;

        Email.send({

            SecureToken: "2f471774-ef4a-44e8-ae77-b0a89ef9d4dd",
            To: "correosdeformularios@gmail.com",
            From: email,
            Subject: name,
            Body: message

        }).then(
            message => alert('Email enviado correctamente')
        );
    }

    const button = document.querySelector('.send');
    button.addEventListener('click', sendEmail());

</script>