<script type="text/javascript">

    function sendEmail() {

        const email = document.getElementById('email').value;
        const name = document.getElementById('name').value;
        const message = document.getElementById('message').value;

        Email.send({

            SecureToken: "0e29abbb-a6c0-4bfd-8192-7cea74b1fc32",
            To: "correosdeformularios@gmail.com",
            From: email,
            Subject: name,
            Body: message

        }).then(
            message => alert('Email enviado correctamente')
        );
    }

    const button = document.querySelector('.send');
    button.addEventListener('click', sendEmail);

</script>