<header class='header__img--contact  header header__contact'>

    <nav class="header__nav header__nav--contact">
        <div class="header__nav--wrapper">
            <div>
                <h1 class="header__title"><a href="./index.html" title="Página principal">Powerkyria</a> </h1>
            </div>
            <ul class="header__nav--ul">
                <li class="header__nav--li"><a class="header__nav--a" href="index.html#team">Equipo</a>
                </li>
                <li class="header__nav--li"><a class="header__nav--a" href="index.html#who_are_we">Quiénes somos</a>
                </li>
                <li class="header__nav--li"><a class="header__nav--a" href="./contact.html" target="blank">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <a href="./index.html" class="arrow_return arrow_return--contact" title="Atrás">
        <div class="fas fa-arrow-circle-left  arrow_return--div arrow--contact--div"></div>
    </a>

</header>