<footer>

  <div class="footer__wrapper">

    <div>
      <p class="copy">Powerkyria &copy 2020</p>
    </div>

    <ul class="footer__ul">
      <li><a class="footer__ul--a" href="#team">Equipo</a></li>
      <li><a class="footer__ul--a" href="#who_are_we">Quiénes somos</a></li>
      <li><a class="footer__ul--a" href="./contact.html" target="blank" rel="noopener noreferrer">Contacto</a>
      </li>
    </ul>

    <img class="footer__logo" src="./assets/images/logo11.png" alt="Logo en forma de ola azul">

  </div>

</footer>