<header class='header header__img' id="top">

  <nav class="header__nav">
      <div class="header__nav--wrapper">
          <div>
              <h1 class="header__title"><a href="./index.html">Powerkyria</a></h1>
          </div>
          <ul class="header__nav--ul">
              <li class="header__nav--li"><a class="header__nav--a" href="#team">Equipo</a></li>
              <li class="header__nav--li"><a class="header__nav--a" href="#who_are_we">Quiénes somos</a>
              </li>
              <li class="header__nav--li"><a class="header__nav--a" href="./contact.html" target="blank"
                      rel="noopener noreferrer">Contacto</a>
              </li>
          </ul>
      </div>
  </nav>
</header>