  
          <section id='team'>
            <div class="team">
        
                <h2 class="team__title">Equipo</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque odit autem necessitatibus omnis
                    doloribus illum ea deserunt blanditiis eius porro est in saepe, incidunt aliquam. Ea illum
                    dignissimos quasi obcaecati!
                </p>
        
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt sed autem magni dolor possimus
                    debitis, beatae neque placeat ad, suscipit facere ea praesentium quaerat delectus aliquid qui ex
                    id
                    commodi!</p>
            </div>
        
            <center>
                <div class="square"></div>
            </center>
        
            <div class="features">
                <div class="features__wrapper">
                    <div>
                        <h3>Fortalezas</h3>
                        <p class="features__strength">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit
                            ea,
                            ullam
                            tempore
                            dicta accusantium cum illo vero ipsa doloribus recusandae at, minus rerum assumenda
                            exercitationem!
                            Praesentium eligendi incidunt asperiores quia!</p>
                    </div>
        
                    <div>
                        <h3>Debilidades</h3>
        
                        <p class="features__weaknesses">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Sit
                            ea,
                            ullam
                            tempore
                            dicta accusantium cum illo vero ipsa doloribus recusandae at, minus rerum assumenda
                            exercitationem!
                            Praesentium eligendi incidunt asperiores quia!</p>
                    </div>
                </div>
            </div>
        </section>