<section id="who_are_we" class="who-are-we">
    <h2 class="who-are-we__title">Quiénes somos</h2>
    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__odd">
            <picture>
                <source type="image/jpeg" srcset="./assets/images/surf-mobile.webp" media="(max-width: 768px)">
                <source type="image/jpeg" srcset="./assets/images/surf-mobile.jpg" media="(max-width: 768px)">
                <source type="image/jpeg" srcset="./assets/images/surf-tablet.webp" media="(max-width: 1200px)">
                <source type="image/jpeg" srcset="./assets/images/surf-tablet.jpg" media="(max-width: 1200px)">
                <source type="image/jpeg" srcset="./assets/images/surf-desktop.webp" media="(max-width: 1440px)">
                <source type="image/jpeg" srcset="./assets/images/surf-desktop.jpg" media="(max-width: 1440px)">
                <img class="who-are-we__img" src="./assets/images/surf-desktop.jpg"
                    alt="Silueta de chica sentada sobre tabla de surf salpicando agua hacia el cielo con sus manos, sobre un fondo de un atardecer anaranjado"
                    loading='lazy'>
            </picture>
            <h3 class="who-are-we__name">Nombre Apellido</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>

    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__even">
            <picture>
                <source type="image/jpeg" srcset="./assets/images/skate-mobile.webp" media="(max-width: 768px)">
                <source type="image/jpeg" srcset="./assets/images/skate-mobile.jpg" media="(max-width: 768px)">
                <source type="image/jpeg" srcset="./assets/images/skate-tablet.webp" media="(max-width: 1200px)">
                <source type="image/jpeg" srcset="./assets/images/skate-tablet.jpg" media="(max-width: 1200px)">
                <source type="image/jpeg" srcset="./assets/images/skate-desktop.webp" media="(max-width: 1440px)">
                <source type="image/jpeg" srcset="./assets/images/skate-desktop.jpg" media="(max-width: 1440px)">
                <img class="who-are-we__img" src="./assets/images/skate-desktop.jpg"
                    alt="Pie de chica sobre tabla de skate sobre tapa de alcantarilla redonda" loading='lazy'>
            </picture>
            <h3 class="who-are-we__name">Nombre Apellido</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>

    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__odd">
            <picture>
                <source type="image/jpeg" srcset="./assets/images/vangirl-mobile.webp" media="(max-width:768px)">
                <source type="image/jpeg" srcset="./assets/images/vangirl-mobile.jpg" media="(max-width:768px)">
                <source type="image/jpeg" srcset="./assets/images/vangirl-tablet.webp" media="(max-width:1200px)">
                <source type="image/jpeg" srcset="./assets/images/vangirl-tablet.jpg" media="(max-width:1200px)">
                <source type="image/jpeg" srcset="./assets/images/vangirl-desktop.webp" media="(max-width:1440px)">
                <source type="image/jpeg" srcset="./assets/images/vangirl-desktop.jpg" media="(max-width:1440px)">
                <img class="who-are-we__img" src="./assets/images/vangirl-desktop.jpg"
                    alt="Chica duchandose en el portón trasero de su furgo frente al mar al atardecer con un cielo amarillo de fondo"
                    loading='lazy'>
            </picture>
            <h3 class="who-are-we__name">Nombre Apellido</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__even">
            <picture>
                <source type="image/jpeg" srcset="./assets/images/relax-mobile.webp" media="(max-width:768px)">
                <source type="image/jpeg" srcset="./assets/images/relax-mobile.jpg" media="(max-width:768px)">
                <source type="image/jpeg" srcset="./assets/images/relax-tablet.webp" media="(max-width:1200px)">
                <source type="image/jpeg" srcset="./assets/images/relax-tablet.jpg" media="(max-width:1200px)">
                <source type="image/jpeg" srcset="./assets/images/relax-desktop.webp" media="(max-width:1440px)">
                <source type="image/jpeg" srcset="./assets/images/relax-desktop.jpg" media="(max-width:1440px)">
                <img class="who-are-we__img polaroid" src="./assets/images/relax-desktop.jpg"
                    alt="Chica descansando boca arriba sobre un mar en calma" loading="lazy">
            </picture>
            <h3 class="who-are-we__name">Nombre Apellido</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>
</section>