<section id="who_are_we" class="who-are-we">
    <h2 class="who-are-we__title">Quiénes somos</h2>
    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__odd">

            <img class="who-are-we__img " src="./assets/images/surf.jpg"
                alt="Silueta de chica sentada sobre tabla de surf salpicando agua hacia el cielo con sus manos, sobre un fondo de un atardecer anaranjado">

            <h4 class="who-are-we__name">Nombre Apellido</h4>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__even">
            <img class="who-are-we__img" src="./assets/images/skate.jpg"
                alt="Pie de chica sobre tabla de skate sobre tapa de alcantarilla redonda">
            <h4 class="who-are-we__name">Nombre Apellido</h4>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>

    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__odd">
            <img class="who-are-we__img" src="./assets/images/vangirl.jpg"
                alt="Chica duchandose en el portón trasero de su furgo frente al mar al atardecer con un cielo amarillo de fondo">
            <h4 class="who-are-we__name">Nombre Apellido</h4>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="polaroidContenedor polaroidContenedor__even">
            <img class="who-are-we__img polaroid" src="./assets/images/relax.jpg"
                alt="Chica descansando boca arriba sobre un mar en calma">
            <h4 class="who-are-we__name">Nombre Apellido</h4>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat magni officiis
                dolore
                voluptas inventore possimus odit cumque fugiat molestias, suscipit dignissimos neque numquam
                quam
                error explicabo, eos rem minima.
            </p>
            <ul class="who-are-we__social">
                <li title="Twitter"><a href="https://twitter.com" class="fab fa-twitter" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Linkedin"><a href="https://es.linkedin.com/" class="fab fa-linkedin-in" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="GitHub"><a href="https://github.com/" class="fab fa-github-alt" target="blank"
                        rel="noopener noreferrer"></a></li>
                <li class="who-are-we__social--point">•</li>
                <li title="Correo"><a href="./contact.html" class="fas fa-envelope" target="blank"
                        rel="noopener noreferrer"></a></li>
            </ul>
        </div>
    </div>
</section>