// fonts
$font-main: 'Open Sans', sans-serif;
$font-main-weight-regular: 400;
$font-main-weight-semibold: 600;
$font-secundary: 'Rubik', sans-serif;
$font-weight-medium: 500;
$font-photo-names: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
sans-serif;
$font-claim: 'Open Sans', sans-serif;

//font-sizes
$font-size-title: 16px;
$font-size-small: 14px;
$font-size-text: 16px;
$font-size-nav: 15px;
$font-size-claim-mobile: 18px;
$font-size-claim-desktop: 24px;
$font-size-title-section: 24px;
$font-size-title-features: 22px;
$font-size-name: 20px;

//font-form
$font-term: 12px;
$font-placeholder: 16px;
$font-button: 16px;
$font-labels: 14px;

// height-form
$height-input:45px;
$height-button:45px;

// height-header
$header-nav-title-height: 60px;
$header-nav-height: 45px;
$header_tablet-desktop-nav: 60px;

// colors
$color-primary: #039ee1;
$color-header-title: rgba(98, 201, 248, .5);
$color-nav: rgba(252, 155, 77, 0.5);
$color-light: #b8b8b9;
$color-dark: #54585a;
$color-white: #fff;
$color-black: #000;
$color-gray-background: #f1f1f1;
$color-hover:rgb(30, 85, 110);
$color-button:#4fa2c9;
$color-arrow:#6d7375;
$color-arrow-hover:#b8b8b9;
$color-nav-effect: #00ffff;

// breakpoints
$tablet: 768px;
$desktop: 1200px;
