.header__img {
	background-image: url('../images/roadMobile2.jpeg');
	height: 421px;
	background-size: cover;
	position: relative;

	@include tablet {
		background-image: url('../images/roadTablet.jpeg');
	}

	@include desktop {
		background-image: url('../images/roadDesktop.jpeg');
		height: 550px;
	}

	.header__nav {
		display: flex;
		flex-direction: column;
		line-height: $header-nav-height;

		@include tablet {
			&--wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				@include desktop {
					width: 924px;
					margin: auto;
				}
			}
		}

		@include desktop {
			background-color: $color-header-title;
		}

		.header__title {
			text-align: center;
			background-color: $color-header-title;
			color: $color-white;
			text-transform: uppercase;
			line-height: $header-nav-title-height;
			font-family: $font-secundary;
			font-weight: $font-weight-medium;
			font-size: $font-size-title;
			margin: 0;

			& a {
				text-decoration: none;
				color: $color-white;
			}

			@include tablet {
				padding: 0 45px;
				width: 100%;
			}

			@include desktop {
				padding-left: 0;
				background-color: transparent;
			}
		}

		&--ul {
			list-style: none;
			display: flex;
			justify-content: space-evenly;
			background-color: $color-nav;
			text-transform: uppercase;
			margin: 0;

			@include tablet {
				height: $header_tablet-desktop-nav;
				line-height: $header_tablet-desktop-nav;
				background-color: $color-header-title;
				padding: 0 45px;
				width: 100%;
				justify-content: flex-end;
				width: 100%;
			}

			@include desktop {
				padding-right: 0;
				background-color: transparent;
			}

			@include tablet {
				.header__nav--li {
					margin-left: 30px;
				}
			}

			.header__nav--li:hover {
				transition: .1s;
				-webkit-transition: .1s;
				-moz-transition: .1s;
				-ms-transition: .1s;
				-o-transition: .1s;
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
			}

			.header__nav--a {
				text-decoration: none;
				padding: 4px;
				color: $color-white;
				font-family: $font-secundary;
				font-weight: $font-weight-medium;
				font-size: $font-size-nav;
				position: relative;

				@include desktop {
					
					//  NAV EFFECT

					&::before,
					&::after {
						height: 100%;
						width: 100%;
						position: absolute;
						content: '';
						transition: all ease 0.3s;
						-webkit-transition: all ease 0.3s;
						-moz-transition: all ease 0.3s;
						-ms-transition: all ease 0.3s;
						-o-transition: all ease 0.3s;
						opacity: 0;
					}

					&::before {
						right: 0;
						top: 0;
						border-right: 4px solid $color-nav-effect;
						border-top: 2px solid $color-nav-effect;
						transform: translate(0%, 50%);
						-webkit-transform: translate(0%, 50%);
						-moz-transform: translate(0%, 50%);
						-ms-transform: translate(0%, 50%);
						-o-transform: translate(0%, 50%);
					}

					&::after {
						left: 0;
						bottom: 0;
						border-left: 4px solid $color-nav-effect;
						border-bottom: 2px solid $color-nav-effect;
						transform: translate(100%, -50%);
						-webkit-transform: translate(100%, -50%);
						-moz-transform: translate(100%, -50%);
						-ms-transform: translate(100%, -50%);
						-o-transform: translate(100%, -50%);
					}

					&:hover::before,
					&:hover::after {
						transform: translate(0%, 0%);
						-webkit-transform: translate(0%, 0%);
						-moz-transform: translate(0%, 0%);
						-ms-transform: translate(0%, 0%);
						-o-transform: translate(0%, 0%);
						opacity: 1;
					}
				}
			}
		}
	}

	@include desktop {
		.header__claim--wrapper {
			width: 924px;
			margin: auto;
		}
	}

	.header__home--claim {
		color: $color-black;
		background-color: $color-white;
		font-family: $font-main;
		font-weight: $font-main-weight-semibold;
		font-size: $font-size-claim-mobile;
		margin: 0 15px;
		padding: 15px;
		text-align: center;
		position: absolute;
		bottom: -34px;
		right: 0;
		left: 0;

		@include tablet {
			width: 441px;
			padding: 15px 30px;
			margin-left: 45px;
			bottom: 0;
		}

		@include desktop {
			font-size: $font-size-claim-desktop;
			margin-left: 0;
			right: auto;
			left: auto;
		}
	}

	// ANIMATION

	@include desktop {
		.phrase_animation {
			animation-duration: 1s;
			animation-name: motivation;
			animation-iteration-count: 1;
			animation-timing-function: ease;
		}

		@keyframes motivation {
			from {
				transform: translateX(51vw);
				-webkit-transform: translateX(51vw);
				-moz-transform: translateX(51vw);
				-ms-transform: translateX(51vw);
				-o-transform: translateX(51vw);
			}
			to {
				transform: translateX(0%);
				-webkit-transform: translateX(0%);
				-moz-transform: translateX(0%);
				-ms-transform: translateX(0%);
				-o-transform: translateX(0%);
			}
		}
	}
}
