.main__home {
	text-align: center;
	border-bottom: 1px solid #7a7c7e;
	padding-bottom: 45px;
	position: relative;
	top: 34px;
}

p {
	margin-left: 16px;
	margin-right: 16px;
	color: #54585a;
	line-height: 1.6;
	font-size: 16px;
}

h2 {
	text-transform: uppercase;
	color: rgb(3, 158, 225);
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: 24px;
}

@media all and (min-width: 768px) {

	.main__home {
		top: 0;
		padding-bottom: 60px;
	}

	p {
		margin-left: 45px;
		margin-right: 45px;
    }
}