.main__home {
	text-align: center;
	border-bottom: 1px solid #7a7c7e;
	padding-bottom: 45px;
	position: relative;
	top: 34px;

	@include tablet {
		top: 0;
		padding-bottom: 60px;
	}

	p {
		margin-left: 16px;
		margin-right: 16px;
		color: $color-dark;
		line-height: 1.6;
		font-size: $font-size-text;

		@include tablet {
			margin-left: 45px;
			margin-right: 45px;
		}
	}

	h2 {
		text-transform: uppercase;
		color: $color-primary;
		font-family: $font-secundary;
		font-weight: $font-weigt-medium;
		font-size: $font-size-title-section;
	}
}