
.team__title {
	margin-top: 30px;
	margin-bottom: 15px;
}

.team p:nth-child(3) {
	margin-bottom: 0;
}

.square {
	background-color: #fff;
	width: 30px;
	height: 30px;
	position: relative;
	top: 16px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.features {
	background-color: #f1f1f1;
	padding-top: 30px;
	padding-bottom: 45px;
}

.features h3 {
	color: #333;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 22px;
}

.features__strength {
	padding-bottom: 30px;
	margin-bottom: 0;
}

.features__weaknesses {
	margin-bottom: 0;
}

@media all and (min-width: 768px) {

	.team__title {
		margin-top: 45px;
	}

	.team p:nth-child(3) {
		margin-bottom: 45px;
	}

	.features__wrapper {
		padding-top: 45px;
		padding-bottom: 60px;
		display: flex;
	}

	.features__strength {
		padding-bottom: 0;
		margin: 15px 15px 0 45px;
	}

	.features__weaknesses {
		margin: 15px 45px 0 15px;
    }
    
}


@media all and (min-width: 1200px) {

	.team p {
		width: 601px;
		margin: auto;
		margin-bottom: 15px;
	}

	.features__wrapper {
		width: 924px;
		margin: auto;
	}

	.features__strength {
		margin-right: 22.5px;
	}

	.features__weaknesses {
		margin-left: 22.5px;
    }
}