
@import"pages/index";

/****** FORMULARIO ******/

.header__nav--contact {
	position: static;
}

.header__title a {
	text-decoration: none;
	color: #fff;
}

.header__img--contact {
	background-image: url('../images/keyboard.jpeg');
	height: 300px;
	background-size: cover;
	margin-bottom: 30px;
}

.arrow_return--contact {
	font-size: 36px;
	position: absolute;
	top: 234px;
	right: 0px;
	padding: 10px;
}

/* MAIN */

.main__contact {
	text-align: center;
	border-bottom: 1px solid #7a7c7e;
}

.main__contact--title {
	padding: 15px;
	margin-top: 0;
	margin-bottom: 15px;
}

.term {
	margin-bottom: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

span {
	color: rgb(98, 201, 248);
}

form {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	color: #54585a;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.form_field {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
	margin-top: 15px;
	display: flex;
	justify-content: start;
	font-size: 14px;
}

input {
	height: 45px;
	border: 1px solid #b8b8b9;
	padding: 0 10px;
	margin-bottom: 15px;
	width: 100%;
}

textarea {
	height: 105px;
	padding: 10px;
	margin-bottom: 30px;
	resize: none;
}

input::placeholder,
textarea::placeholder {
	color: #b8b8b9;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.email::placeholder {
	color: #54585a;
}

.send {
	background: linear-gradient(rgb(98, 201, 248), rgb(3, 158, 225));
	height: 45px;
	margin-bottom: 60px;
	border: none;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

.send:hover {
	background: rgb(65, 132, 163);
}

@media all and (min-width: 768px) {
	.header__nav--contact {
		align-self: start;
	}

	form {
		width: 442px;
		margin: auto;
	}

	.send {
		width: 206px;
		align-self: flex-end;
	}

	.arrow_return--contact {
		top: 234px;
	}
}

@media all and (min-width: 1200px) {
	.header__img--contact {
		height: 400px;
		margin-bottom: 45px;
	}

	.arrow_return--contact {
		top: 333px;
	}

	form {
		width: 601px;
	}

	.send {
		margin-bottom: 120px;
		color: #fff;
	}

	.form_emailTel {
		display: flex;
		flex-direction: row;
	}

	.email {
		width: 395px;
		margin-right: 44px;
	}

	.phone {
		width: 162px;
	}
}
